<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Boggle</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Turret+Road:wght@300;800&display=swap" rel="stylesheet">
  
</head>
<body>
  <div class="container center">
    <h1 id="title">Boggle</h1>
    <div>
      <table style="display:inline-block">
        {%for r in board %}
        <tr>
          {%for c in r%}
          <td class="cell">
            {{c}}
          </td>
          {%endfor%}
        </tr>
        {%endfor%}
      </table>
      <form action="/check" method="POST">
        <label for="inputGuess">Guess:</label>
        <input type="text" id="inputGuess">
        <button id="guessBtn">Submit</button>
      </form>
      <p id="gameInfo">
        Score: <b class="score"></b>
        <br />
        Seconds Left: <b class="timer"></b>
      </p>
      <p class="messageBlock"> </p>
    </div>
    <br />
    <div id="foundWords">
      <h3>Found words:</h3>
      <ul class="words"></ul>
    </div>
</div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/static/app.js"></script>
</body>
</html>